@inject Helper hp
@inject DB db

@model Post
@{
    var op = db.Users.FirstOrDefault(u => u.Id == Model.User.Id); //Get original poster
    bool AlreadyLike = db.Like.Any(p => p.UserId == hp.GetUserID(User.Identity.Name) && p.PostId == Model.Id);

    String[] images = new string[4] { Model?.img1 , Model?.img2, Model.img3, Model?.img4};
    var DisplayableImages = images.Where(x => !string.IsNullOrEmpty(x)).ToArray();
}

<div class="poster">
    @if (Model.Anomymous == 0 || User.IsInRole("1"))
    {
        <a href="/Account/Profile/@@@(op?.Username)/@(op?.Id)" class="clear-link">
            <img src="~/images/profile/@op.PhotoURL">
        </a>

        <div>
            <a href ="/Account/Profile/@@@(op?.Username)/@(op?.Id)" class="clear-link">
            @(User.IsInRole("1") ? "PostID: " + Model.Id : "")
                <p class="poster-name">@hp.DisplayNickname(op.Username) 
                    <span style="color: gray; font-size: 15px;">@(Model.Anomymous == 1 ? "(Anomymous)" : "")</span>
                </p>
            <p class="poster-date">@(((DateTime)Model.DatePost).ToString("yyyy-MM-dd"))</p>
            </a>
        </div>
    } else
    {
        <div style="margin-right: 100px;">
            <p class="poster-name" style=" color: gray;">Anomymous</p>
            <p class="poster-date">@(((DateTime)Model.DatePost).ToString("yyyy-MM-dd"))</p>
        </div>
    }
    <div>
        <button class="poster-moreinfo" onclick="showOption(this)">•••</button>
    </div>
    <div class="moreoption" style="display: none;">
        <span class="moreoption-button">
            <div style="display: inline;">
                @* contentString, userId, targetUserId *@
                <button onclick="ReportWindow('post', @Model.Id, @hp.GetUserID(User.Identity.Name), @op.Id)">Report</button>
                <button onclick="loadUser(@Model.Id, 'GetLike')">Show likes</button>
                @if (op.Id == hp.GetUserID(User.Identity.Name) || User.IsInRole("1"))
                {
                    <button style="color:red" onclick="toggleBlackout(deleteRemind(@(Model.Id), @(op.Id), @(hp.GetUserID(User.Identity.Name)), @(hp.GetUserRole(User.Identity.Name))))">Delete</button>
                }
            </div>
        </span>
    </div>
</div>

<div class="postcontent">
    <p>@Model.info</p><br>
    @* @p.ToString() *@
    
    @if (DisplayableImages.Length == 1)
    {
        <img id="upload-img1" src="~/images/Post/@Model.img1" style="width: 600px; object-fit:cover">
    }

    @if (DisplayableImages.Length == 2)
    {
        <img id="upload-img1" src="~/images/Post/@Model.img1" style="width: 300px; height:300px; object-fit:cover">
        <img id="upload-img2" src="~/images/Post/@Model.img2" style="width: 300px; height:300px; object-fit:cover">
    }

    @if(DisplayableImages.Length == 3)
    {
        <img id="upload-img1" src="~/images/Post/@Model.img1" style="width: 300px; height:300px; object-fit:cover">
        <img id="upload-img2" src="~/images/Post/@Model.img2" style="width: 300px; height:300px; object-fit:cover">
        <img id="upload-img3" src="~/images/Post/@Model.img3" style="width: 300px; height:300px; object-fit:cover">
    }

    @if (DisplayableImages.Length == 4)
    {
        <img id="upload-img1" src="~/images/Post/@Model.img1" style="width: 300px; height:300px; object-fit:cover">
        <img id="upload-img2" src="~/images/Post/@Model.img2" style="width: 300px; height:300px; object-fit:cover">
        <img id="upload-img3" src="~/images/Post/@Model.img3" style="width: 300px; height:300px; object-fit:cover">
        <img id="upload-img3" src="~/images/Post/@Model.img4" style="width: 300px; height:300px; object-fit:cover">
    }
</div>

<hr>
<div class="action-btn">


    @if(!AlreadyLike)
    {
        <span style="width: 150px;">
            <form method="post" asp-action="Like" asp-controller="Post" data-ajax="true" data-ajax-update="#postbox-@Model.Id">
            <input type="hidden" name="PostId" value="@Model.Id" />
            <button class="like_btn">
                <svg height="25px" width="25px" viewBox="0 0 490.2 490.2">
                    <g>
                        <path d="M490.1,234.464c0-37.6-30.6-68.3-68.3-68.3H316.2v-76.1c0-32.2-9.4-55.4-28-69c-29.4-21.6-69.8-9.3-71.5-8.7
                          c-5.1,1.6-8.6,6.3-8.6,11.7v85.5c0,67.3-78.1,90.2-81.4,91.2c-1,0.3-1.9,0.6-2.7,1.1c-5.8-11.6-17.8-19.6-31.6-19.6H35.2
                          c-19.4,0-35.2,15.8-35.2,35.2v207.9c0,19.4,15.8,35.2,35.2,35.2h33.1c6.8,0,12.3-5.5,12.3-12.3s-5.6-12.2-12.3-12.2H35.2
                          c-5.9,0-10.7-4.8-10.7-10.7v-207.9c0-5.9,4.8-10.7,10.7-10.7h57.3c5.9,0,10.7,4.8,10.7,10.7v196.1c0,37.6,30.6,68.3,68.3,68.3
                          h209.2c46.4,0,75.9-24.3,81.1-66.3l28.2-177c0.1-0.6,0.2-1.3,0.2-1.9v-2.2H490 z M465.6,235.564l-28.1,176.5
                          c-3.7,30-22.8,45.3-56.8,45.3h-7.8H171.5c-24.1,0-43.8-19.6-43.8-43.8v-189.1c1.8,0.4,3.7,0.3,5.6-0.2
                          c4.1-1.1,99.3-28.7,99.3-114.8v-75.6c10.4-1.6,28.2-2.5,41.1,6.9c11.9,8.8,18,25.3,18,49.3v88.4c0,6.8,5.5,12.3,12.3,12.3h117.9
                          c24.1,0,43.8,19.6,43.8,43.8v1H465.6" />
                    </g>
                </svg>
                <span>@Model.LikeCount</span>
            </button>
            </form>
        </span>
    }
    else
    {
        <span style="width: 150px;">
            <form method="post" asp-action="Unlike" asp-controller="Post" data-ajax="true" data-ajax-update="#postbox-@Model.Id">
                <input type="hidden" name="PostId" value="@Model.Id" />
                <button class="like_btn">
                <svg height="25px" width="25px" fill="blue" viewBox="0 0 490.2 490.2">
                    <g>
                        <path d="M490.1,234.464c0-37.6-30.6-68.3-68.3-68.3H316.2v-76.1c0-32.2-9.4-55.4-28-69c-29.4-21.6-69.8-9.3-71.5-8.7
                          c-5.1,1.6-8.6,6.3-8.6,11.7v85.5c0,67.3-78.1,90.2-81.4,91.2c-1,0.3-1.9,0.6-2.7,1.1c-5.8-11.6-17.8-19.6-31.6-19.6H35.2
                          c-19.4,0-35.2,15.8-35.2,35.2v207.9c0,19.4,15.8,35.2,35.2,35.2h33.1c6.8,0,12.3-5.5,12.3-12.3s-5.6-12.2-12.3-12.2H35.2
                          c-5.9,0-10.7-4.8-10.7-10.7v-207.9c0-5.9,4.8-10.7,10.7-10.7h57.3c5.9,0,10.7,4.8,10.7,10.7v196.1c0,37.6,30.6,68.3,68.3,68.3
                          h209.2c46.4,0,75.9-24.3,81.1-66.3l28.2-177c0.1-0.6,0.2-1.3,0.2-1.9v-2.2H490.z M465.6,235.564l-28.1,176.5
                          c-3.7,30-22.8,45.3-56.8,45.3h-7.8H171.5c-24.1,0-43.8-19.6-43.8-43.8v-189.1c1.8,0.4,3.7,0.3,5.6-0.2
                          c4.1-1.1,99.3-28.7,99.3-114.8v-75.6c10.4-1.6,28.2-2.5,41.1,6.9c11.9,8.8,18,25.3,18,49.3v88.4c0,6.8,5.5,12.3,12.3,12.3h117.9
                          c24.1,0,43.8,19.6,43.8,43.8v1H465.6">
                    </g>
                </svg>
                    <span style="color:blue">@Model.LikeCount</span>
                </button>
            </form>
        </span>
    }


    <button class="comment_btn">
        <a href="/Post/Content?PostID=@Model.Id" class="clear-link">
        <svg width="25px" height="23px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1">
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-102.000000, -257.000000)">
                    <path d="M118,257 C109.164,257 102,263.269 102,271 C102,275.419 104.345,279.354 108,281.919 L108,289 L115.009,284.747 C115.979,284.907 116.977,285 118,285 C126.836,285 134,278.732 134,271 C134,263.269 126.836,257 118,257" id="comment-1" sketch:type="MSShapeGroup"></path>
                </g>
            </g>
        </svg>
            <span>@Model.CommentCount</span>
        </a>
    </button>
</div>

<script>
    function showOption(button){
        let post = button.closest(".poster")
        let moreoption = post.querySelector(".moreoption")

        if (moreoption.style.display === "block") {
            moreoption.style.display = "none"
        } else {
            moreoption.style.display = "block"
        }

     }

    function deleteRemind(postID, postIDUser, CurrentUserID, CurrentUserRole){
        console.log(postID, postIDUser, CurrentUserID, CurrentUserRole);
        return `
            <div style="text-align:center; align-content: center; height: 450px;">
                    <h1>Are you sure you want to delete the post?</h1>
                    <p>If delete, the post won't be recovered.</p>
                    <button class="closebtnpop" style="background-color: red; position:relative; top:200px; width: 120px" onclick="deletePost(${postID}, ${postIDUser}, ${CurrentUserID}, ${CurrentUserRole})">Delete</button>
            </div>
        `
    }
   
</script>