@model IEnumerable<Report>
@inject Helper hp

<table style="margin-top: 20px">
    <tr style="border: 1px solid black;">
        <th>ID</th>
        <th>Reason</th>
        <th>Additional Info</th>
        <th>DateReport</th>
        <th>Reporter</th>
        <th>Type of content</th>
        <th>Content</th>
        <th>Content by</th>
        <th>action</th>
    </tr>

    @foreach (var u in Model)
    {
        <tr style="height: 50px">
            <td>@u.Id</td>
            <td>@u.Reason</td>
            <td>@u.Info</td>
            <td>@u.DateReport.ToString("yyyy-MM-dd")</td>
            <td>@hp.GetUserName(u.ReportedBy)</td>
            <td>@u.ContentType</td>
            <td style="width:200px;">@u.ContentString</td>
            <td>@u.ReportedOn</td>
            <td>
                <a href="DetailReport?reportid=@u.Id" class="Detail">Detail</a>

            </td>
        </tr>
    }
</table>