@model IEnumerable<Post>

<style>
    table {
        width: 80%;
        border: 1px solid black;
        margin: auto;
    }

    th {
        font-weight: bold;
        border: 1px solid black;
        background-color: gray;
    }

    td {
        text-align: center;
        border-bottom: 1px solid black;
    }

    .Detail {
        padding: 10px;
        color: white;
        background-color: goldenrod;
        border-radius: 10px;
        text-decoration: none;
    }

    .Ban {
        padding: 10px;
        color: white;
        background-color: darkred;
        border-radius: 10px;
        text-decoration: none;
    }

    .search {
        width: 100px;
        height: 40px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 20px;
    }

    .Submit {
        padding: 10px;
        color: white;
        background-color: forestgreen;
        border-radius: 10px;
        text-decoration: none;
    }

    input {
        margin-left: 10px;
    }

</style>


<table style="margin-top: 20px">
    <tr style="border: 1px solid black;">
        <th>ID</th>
        <th>Poster</th>
        <th>Content</th>
        <th>Img1</th>
        <th>Img2</th>
        <th>Img3</th>
        <th>Img4</th>
        <th>Date Posted</th>
        <th>Action</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td style="background:white; height:40px" colspan="6">No post found for following result.</td>
        </tr>
    }

    @foreach (var p in Model)
    {
        <tr style="height: 50px">
            <td>@p.Id</td>
            <td>@p.User.Username</td>
            <td>@p.info</td>
            <td width="50px">
                @(string.IsNullOrEmpty(p.img1) ? "Null" : Html.Raw($"<img src='/images/post/{p.img1}' width='75px' height='75px' />"))
            </td>

            <td width="75px">
                @(string.IsNullOrEmpty(p.img2) ? "Null" : Html.Raw($"<img src='/images/post/{p.img2}' width='75px' height='75px' />"))
            </td>

            <td width="75px">
                @(string.IsNullOrEmpty(p.img3) ? "Null" : Html.Raw($"<img src='/images/post/{p.img3}' width='75px' height='75px' />"))
            </td>


            <td width="75px">
                @(string.IsNullOrEmpty(p.img4) ? "Null" : Html.Raw($"<img src='/images/post/{p.img4}' width='75px' height='75px' />"))
            </td>
            <td>@p.DatePost.ToString("yyyy-MM-dd")</td>
            <td>
                <a href="DetailPost?postid=@p.Id" class="Detail">Detail</a>
                <a href="/Post/Content?PostID=@p.Id" class="Detail">View</a>
            </td>
        </tr>
    }
</table>